$background_color: #191919;
$base_text_color: rgba(255, 255, 255, 1);
$gray_text_color:rgba(255, 255, 255, 0.7);
$link_hover_color: rgba(17, 141, 168, 1);
$black_background_color: rgba(0, 0, 0, 1);
$dark_gray_background: rgba(25, 25, 25, 1);

